/* === GLOBAL RESET === */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

input,
textarea,
button,
select {
    font-family: inherit;
    line-height: inherit;
}
input,
select,
textarea {
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 0;
    border: unset;
    background-color: unset;
    color: unset;
}
button {
    background: #4d5ae5;
    border: none;
    padding: 0;
    cursor: pointer;
}
textarea {
    resize: none;
    font: inherit; }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* === CONTAINER === */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* === HEADER === */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.nav-item {
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-active {
    position: relative;
    color: #404bbf;
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;

}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* === CONTACTS IN HEADER === */
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover ,
.contacts-link:focus {
    color: #404bbf;
}

/* === HERO SECTION === */
.page-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    max-width: 1440px;
    margin: auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    text-wrap: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* === OUR WORK SECTION === */
.our-work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.our-work-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.our-work-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.our-work-icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    padding: 23px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.our-work-icon {}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-work-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === OUR TEAM SECTION === */
.our-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-contant-container {
    padding: 32px 0;
    align-items: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-link-list {
    display: flex;
    gap: 24px;
    height: 40px;
    justify-content: center;
}

.elipse {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elipse:hover,
.elipse:focus {
    background-color: #404bbf;
}

.social-link-icon {
    fill: #F4F4FD;
}

/* === PORTFOLIO SECTION === */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    max-width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-cart-contant {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-paragraph {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-paragraph {
    transform: translateY(0);
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* === FOOTER === */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.footer-text {
    margin-right: 120px;
    min-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.social-link-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-link-list {
    gap: 16px;
}

.footer-elipse:hover,
.footer-elipse:focus {
    background-color: #31d0aa;
}

.social-link-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-elipse:hover .social-link-icon {
    fill: #f4f4fd;
}


.social-links {
    margin-right: 80px;
}
.footer-subscribe-form {

}
.subscribe-input-label {
    display: flex;
        flex-direction: column;
        gap: 16px;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-right: 24px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.subscribe-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
    color: #ffffff; }



.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-icon {
    margin-left: 16px; }